.card {
  background-color: #ffcb94;
  border-radius: 5px;
  width: 190vh;
  height: 65vh;
  display: flex;
  font-family: "Raleway", sans-serif;
  padding: 0.5rem;
  flex-direction: column;
  position: relative;
}

.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
}

h3 {
  padding: 0.2rem;
  color: #297894;
}

.adicionarButton {
  position: absolute;
  right: 1rem;
  top: -2.5rem;
  border: none;
  border-radius: 5px;
  height: 30px;
  background-color: #fb962a;
  color: white;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.adicionarButton:hover {
  background-color: #ffcb94;
  color: #297894;
  font-weight: bold;
}
