/* 
font-family: 'Ranchers', cursive; 
font-family: 'Raleway', sans-serif;
*/

/* 
Paleta de cores:
A #FB962A
B #FFCB94
C #E0A86C
D #297894
E #6CC1E0

*/

.container {
  width: 100%;
  height: 100vh;
  background: #297894;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 3rem;
  font-family: "Ranchers", cursive;
  color: #fb962a;
}




